{{> header }}
{{> navbar }}
<div class="row">
  <div class="col-8">
    <h1>Mamberroi</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis totam necessitatibus unde distinctio praesentium voluptatibus consequuntur minima eum. Voluptates eius beatae fugiat incidunt sint? Pariatur magni quae quaerat necessitatibus possimus?</p>
  </div>
  <div class="col-4">
    <img src="assets/img/master.png" class="img-thumbnail">
  </div>
</div>

{{> footer }}